In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib notebook

In [2]:
dfc=pd.read_csv('/content/Credit_card.csv')
dfl=pd.read_csv('/content/Credit_card_label.csv')

In [3]:
dfc.head()

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,365243,1,0,0,0,NaN,2
1,5009744,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
2,5009746,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,NaN,-586,1,1,1,0,NaN,2
3,5009749,F,Y,N,0,NaN,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
4,5009752,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2

In [4]:
dfl.head()

    Ind_ID  label
0  5008827      1
1  5009744      1
2  5009746      1
3  5009749      1
4  5009752      1

In [5]:
mdf= pd.merge(dfc,dfl, on='Ind_ID', how='outer')

In [6]:
mdf.head()

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,label
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,365243,1,0,0,0,NaN,2,1
1,5009744,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2,1
2,5009746,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,NaN,-586,1,1,1,0,NaN,2,1
3,5009749,F,Y,N,0,NaN,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2,1
4,5009752,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2,1

In [7]:
mdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1548 entries, 0 to 1547
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ind_ID           1548 non-null   int64
 1   GENDER           1541 non-null   object
 2   Car_Owner        1548 non-null   object
 3   Propert_Owner    1548 non-null   object
 4   CHILDREN         1548 non-null   int64
 5   Annual_income    1525 non-null   float64
 6   Type_Income      1548 non-null   object
 7   EDUCATION        1548 non-null   object
 8   Marital_status   1548 non-null   object
 9   Housing_type     1548 non-null   object
 10  Birthday_count   1526 non-null   float64
 11  Employed_days    1548 non-null   int64
 12  Mobile_phone     1548 non-null   int64
 13  Work_Phone       1548 non-null   int64
 14  Phone            1548 non-null   int64
 15  EMAIL_ID         1548 non-null   int64
 16  Type_Occupation  1060 non-null   object
 17  Family_Members   1548 non-null   int64
 18  label            1548 non-null   int64
dtypes: float64(2), int64(9), object(8)
memory usage: 229.9+ KB

In [8]:
mdf.isnull().sum()

Ind_ID               0
GENDER               7
Car_Owner            0
Propert_Owner        0
CHILDREN             0
Annual_income       23
Type_Income          0
EDUCATION            0
Marital_status       0
Housing_type         0
Birthday_count      22
Employed_days        0
Mobile_phone         0
Work_Phone           0
Phone                0
EMAIL_ID             0
Type_Occupation    488
Family_Members       0
label                0
dtype: int64

In [9]:
mdf.columns

Index(['Ind_ID', 'GENDER', 'Car_Owner', 'Propert_Owner', 'CHILDREN',
       'Annual_income', 'Type_Income', 'EDUCATION', 'Marital_status',
       'Housing_type', 'Birthday_count', 'Employed_days', 'Mobile_phone',
       'Work_Phone', 'Phone', 'EMAIL_ID', 'Type_Occupation', 'Family_Members',
       'label'],
      dtype='object')

In [10]:
mdf['GENDER'].mode()

0    F
Name: GENDER, dtype: object

In [11]:
mdf['GENDER'].value_counts()

GENDER
F    973
M    568
Name: count, dtype: int64

In [12]:
mdf['GENDER'].fillna(mdf['GENDER'].mode()[0], inplace=True)

In [13]:
mdf['GENDER'].isnull().sum()

0

In [14]:
mdf['Type_Occupation'].mode()

0    Laborers
Name: Type_Occupation, dtype: object

In [15]:
mdf['Type_Occupation'].value_counts()

Type_Occupation
Laborers                 268
Core staff               174
Managers                 136
Sales staff              122
Drivers                   86
High skill tech staff     65
Medicine staff            50
Accountants               44
Security staff            25
Cleaning staff            22
Cooking staff             21
Private service staff     17
Secretaries                9
Low-skill Laborers         9
Waiters/barmen staff       5
HR staff                   3
IT staff                   2
Realty agents              2
Name: count, dtype: int64

In [16]:
mdf['Type_Occupation'].fillna(mdf['Type_Occupation'].mode()[0], inplace=True)

In [17]:
mdf['Type_Occupation'].isnull().sum()

0

In [18]:
mdf.Annual_income.mean().round()

191399.0

In [19]:
mdf['Annual_income'].fillna(mdf['Annual_income'].mean().round(),inplace=True)

In [20]:
mdf['Annual_income'].isnull().sum()

0

In [21]:
mdf.Birthday_count.isnull().sum()

22

In [22]:
mdf['Birthday_count'].fillna(mdf['Birthday_count'].mean().round(),inplace=True)

In [23]:
mdf.Birthday_count.isnull().sum()

0

In [24]:
def counts(day):
  return round(np.abs(day/365))

In [25]:
mdf['experience']=mdf['Employed_days'].apply(lambda x: counts(x) if x<0 else 0)

In [26]:
mdf['age']=mdf['Birthday_count'].apply(counts)

In [27]:
mdf.head()

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,...,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,label,experience,age
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,...,365243,1,0,0,0,Laborers,2,1,0,51
1,5009744,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,...,-586,1,1,1,0,Laborers,2,1,2,37
2,5009746,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,...,-586,1,1,1,0,Laborers,2,1,2,44
3,5009749,F,Y,N,0,191399.0,Commercial associate,Higher education,Married,House / apartment,...,-586,1,1,1,0,Laborers,2,1,2,37
4,5009752,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,...,-586,1,1,1,0,Laborers,2,1,2,37

In [28]:
mdf.isnull().sum()

Ind_ID             0
GENDER             0
Car_Owner          0
Propert_Owner      0
CHILDREN           0
Annual_income      0
Type_Income        0
EDUCATION          0
Marital_status     0
Housing_type       0
Birthday_count     0
Employed_days      0
Mobile_phone       0
Work_Phone         0
Phone              0
EMAIL_ID           0
Type_Occupation    0
Family_Members     0
label              0
experience         0
age                0
dtype: int64

In [29]:
df_cc=mdf.copy()

In [30]:
df_cc.to_csv('df_cc',index=False)

In [31]:
c=['Ind_ID','Birthday_count','Employed_days','Mobile_phone','Work_Phone',	'Phone','EMAIL_ID']
mdf=mdf.drop(columns=c)

In [32]:
mdf.head()

,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Type_Occupation,Family_Members,label,experience,age
0,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,Laborers,2,1,0,51
1,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,Laborers,2,1,2,37
2,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,Laborers,2,1,2,44
3,F,Y,N,0,191399.0,Commercial associate,Higher education,Married,House / apartment,Laborers,2,1,2,37
4,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,Laborers,2,1,2,37

In [33]:
mdf.label.value_counts()

label
0    1373
1     175
Name: count, dtype: int64

In [34]:
imbalance_ratio=mdf.label.value_counts()[0]/mdf.label.value_counts()[1]
print('Imbalance ratio: ',imbalance_ratio)

Imbalance ratio:  7.845714285714286

In [35]:
#cat and numerical variable seperation
cat= mdf.select_dtypes(include=['object']).columns
num= mdf.select_dtypes(include=['int32','int64','float32','float64']).columns

In [36]:
cat

Index(['GENDER', 'Car_Owner', 'Propert_Owner', 'Type_Income', 'EDUCATION',
       'Marital_status', 'Housing_type', 'Type_Occupation'],
      dtype='object')

In [37]:
from scipy.stats import chi2_contingency

In [38]:
categorical_features = ['GENDER', 'Car_Owner', 'Propert_Owner', 'Type_Income', 'EDUCATION','Marital_status', 'Housing_type', 'Type_Occupation']

results = {}
for feature in categorical_features:
    contingency_table = pd.crosstab(mdf[feature], mdf['label'])
    chi2, p, _, _ = chi2_contingency(contingency_table)
    results[feature] = (chi2, p)
    print(f'Chi-Square test for {feature}: chi2 = {chi2}, p-value = {p}')

Chi-Square test for GENDER: chi2 = 2.935630436512684, p-value = 0.08664483091132888
Chi-Square test for Car_Owner: chi2 = 0.24788350240956675, p-value = 0.6185693269675412
Chi-Square test for Propert_Owner: chi2 = 0.38467918054883476, p-value = 0.5351095955412992
Chi-Square test for Type_Income: chi2 = 13.598555653674126, p-value = 0.003505783928580882
Chi-Square test for EDUCATION: chi2 = 9.205670423908046, p-value = 0.056159329722052835
Chi-Square test for Marital_status: chi2 = 10.524107710165312, p-value = 0.03246652787478729
Chi-Square test for Housing_type: chi2 = 28.04279521603185, p-value = 3.570429275146809e-05
Chi-Square test for Type_Occupation: chi2 = 36.56584762842536, p-value = 0.003851575952868713

In [39]:
num

Index(['CHILDREN', 'Annual_income', 'Family_Members', 'label', 'experience',
       'age'],
      dtype='object')

In [40]:
ncol=mdf[['CHILDREN', 'Annual_income', 'Family_Members', 'label', 'experience','age']]
ncol.corr()

,CHILDREN,Annual_income,Family_Members,label,experience,age
CHILDREN,1.000000,0.078111,0.890248,-0.021646,0.073313,-0.276852
Annual_income,0.078111,1.000000,0.050677,0.026875,0.051519,-0.109767
Family_Members,0.890248,0.050677,1.000000,-0.030709,0.092535,-0.263470
label,-0.021646,0.026875,-0.030709,1.000000,-0.095189,0.044841
experience,0.073313,0.051519,0.092535,-0.095189,1.000000,-0.022627
age,-0.276852,-0.109767,-0.263470,0.044841,-0.022627,1.000000

In [41]:
mdf=mdf.drop(columns=['CHILDREN'])

In [42]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score, recall_score , f1_score, confusion_matrix

In [43]:
mdf['label'].dtypes

dtype('int64')

In [44]:
df=mdf.copy()

In [45]:
df=mdf[['Annual_income', 'age','experience','Type_Income', 'Type_Occupation','Marital_status', 'Housing_type','label']]
df.head()

,Annual_income,age,experience,Type_Income,Type_Occupation,Marital_status,Housing_type,label
0,180000.0,51,0,Pensioner,Laborers,Married,House / apartment,1
1,315000.0,37,2,Commercial associate,Laborers,Married,House / apartment,1
2,315000.0,44,2,Commercial associate,Laborers,Married,House / apartment,1
3,191399.0,37,2,Commercial associate,Laborers,Married,House / apartment,1
4,315000.0,37,2,Commercial associate,Laborers,Married,House / apartment,1

In [46]:
x=df.drop(columns=['label'])
y=df['label']

In [47]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15,random_state=0)

In [48]:
cat_var=['Type_Income', 'Type_Occupation','Marital_status', 'Housing_type']
num_var=['Annual_income', 'Family_Members', 'label','experience', 'age']

In [49]:
encode= ColumnTransformer(transformers=[('ohe',OneHotEncoder(sparse_output=False,drop='first'), cat_var)],remainder='passthrough')

m3_RF=RandomForestClassifier(class_weight='balanced', random_state=0)
n=5
rfe=RFE(m3_RF,n_features_to_select=n)
pipe_RF=Pipeline([('encoding', encode),('model_3',rfe)])
pipe_RF.fit(x_train,y_train)

y_pred=pipe_RF.predict(x_test)

print('Precision- ', metrics.precision_score(y_test,y_pred))
print('Recall- ', metrics.recall_score(y_test,y_pred))
print('F1 Score- ',f1_score(y_test,y_pred))
print('ROC- ',metrics.roc_auc_score(y_test,y_pred))
print('Confusion Matrix- ',confusion_matrix(y_test,y_pred))

Precision-  0.7368421052631579
Recall-  0.5
F1 Score-  0.5957446808510638
ROC-  0.7378048780487805
Confusion Matrix-  [[200   5]
 [ 14  14]]

In [50]:
x.head()

,Annual_income,age,experience,Type_Income,Type_Occupation,Marital_status,Housing_type
0,180000.0,51,0,Pensioner,Laborers,Married,House / apartment
1,315000.0,37,2,Commercial associate,Laborers,Married,House / apartment
2,315000.0,44,2,Commercial associate,Laborers,Married,House / apartment
3,191399.0,37,2,Commercial associate,Laborers,Married,House / apartment
4,315000.0,37,2,Commercial associate,Laborers,Married,House / apartment

In [51]:
input=x.iloc[0]

In [52]:
ip_df=pd.DataFrame(input).T

In [53]:
ip_df

,Annual_income,age,experience,Type_Income,Type_Occupation,Marital_status,Housing_type
0,180000.0,51,0,Pensioner,Laborers,Married,House / apartment

In [54]:
pipe_RF.predict(ip_df)

array([1])

In [55]:
y.iloc[0]

1

In [56]:
import pickle

In [57]:
pickle.dump(pipe_RF,open('rfmodel.pkl','wb'))

In [58]:
pickle_model=pickle.load(open('rfmodel.pkl','rb'))

In [59]:
pickle_model.predict(ip_df)

array([1])